div.clock{
    background-color: yellow;
    border: 1px black solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

div.tab{
    background-color: turquoise;
    margin: 100px;
    height:160px:
    width:200px;
}   

ul{
    display: flex;
    justify-content: left;
}

article {
    border-left: 1px black solid;
    border-right: 1px black solid;
    border-bottom: 1px black solid;
}

div.tab h1{
    border: 1px black solid;
}

div.tab h1.current{
    border-left: 1px black solid;
    border-right: 1px black solid;
    border-top: 1px black solid;
    border-bottom:0px;
}

li h1 {
    font-size: 14px;
}


