div.clock{
    background-color: yellow;
    border: 3px black solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

div.tab{
    background-color: turquoise;
    border: 3px solid blue;
    padding: 100px;
}

ul{
    display: flex;
    justify-content: space-between;
}